<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
  <header>
    <h1>Biblioteca</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</header>
    <main>
       <h2>LISTA DE LIVROS</h2>
        <a href="{{ url_for('logout') }}">
            <button type="submit">Sair da conta</button>
        </a>
        <a href="{{ url_for('relatorio') }}">
            <button type="submit">Gerar relatório</button>
        </a>
        <a href="{{ url_for('criar') }}">
            <button type="submit">Adicionar livro</button>
        </a>
         <table>
            <thead>
            <tr>
                <th>Codigo</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Ano de publicação</th>
            </tr>
            </thead>

             <tbody>
                {% for livro in livros %}
                <tr>
                    <td>{{livro[0]}}</td>
                    <td>{{livro[1]}}</td>
                    <td>{{livro[2]}}</td>
                    <td>{{livro[3]}}</td>
                    <td>
                        <a href="{{ url_for('editar',id=livro[0]) }}">Editar</a>
                         <form action="{{ url_for('deletar', id=livro[0])}}" method="post" style="display:inline">
                            <button type="submit">Deletar</button>
                        </form>




                    </td>

                </tr>
                {% endfor%}
            </tbody>
        </table>
    </main>

</body>


</html>