<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href="{{ url_for('static',filename='listar_usu.css')}}">
</head>
<body>
    <header>
    <h1>Biblioteca</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</header>
    <main>
       <h2>LISTA DE USUARIOS</h2>
         <table>
            <thead>
            <tr>
                <th>Codigo</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Senha</th>
                <th>Ações</th>
            </tr>
            </thead>

             <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{usuario[0]}}</td>
                    <td>{{usuario[1]}}</td>
                    <td>{{usuario[2]}}</td>
                    <td>{{usuario[3]}}</td>

                    <td>
                        <a href="{{ url_for('editares', id=usuario[0]) }}">Editar</a>

                        <form action="{{ url_for('deletar_usu', id=usuario[0]) }}" method="post">
                            <button type="submit">Deletar</button>
                        </form>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>
</html>

