<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel='stylesheet' href="{{ url_for('static',filename='novo.css')}}">
</head>
<body>

    <header>
        <h1>Biblioteca</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </header>

    <h2>DIGITE AS INFORMAÇÕES DO LIVRO</h2>

    <form action="/criar" method="post" enctype="multipart/form-data">

        <label for="imagem">Capa do livro:</label>
        <input type="file" id="imagem" name="imagem" accept=".jpg">

        <label for="nome">Título:</label>
        <input type="text" id="nome" name="nome" required>

        <label for="autor">Autor:</label>
        <input type="text" id="autor" name="autor" required>

        <label for="ano_publicacao">Ano de publicação:</label>
        <input type="number" id="ano_publicacao" name="ano_publicacao" required>

        <div>
            <button type="submit" class="btn">Salvar</button>
        </div>

    </form>

</body>
</html>